google-generativeai==0.7.2
matplotlib== 3.8.3
mistralai==1.0.2
networkx== 3.3
numpy==1.26.4
pandas== 2.2.2
pillow== 10.4.0
pydantic== 2.8.2
python-dotenv==1.0.1
pyvis==0.3.2
scikit-learn== 1.5.1
scipy==1.14.0
sentence-transformers==3.0.1
pydantic-settings==2.4.0
plotly==5.24.1
uvicorn==0.30.6
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.5.1+cu118
spacy==3.8.3